
<h2>LIXEIRA</h2>
<input [(ngModel)]="searchText" placeholder="search text goes here">

<ul>
  <li *ngFor="let employee of employeesDel | filter : searchText">  	 
  	  <img src="{{employee.avatar }}" alt="">
      <span class="badge">{{employee.id}}</span> {{employee.name}}    
      <button (click)='putEmployeeBack($event.target.value)' value={{employee.id}}>COLOCAR EM TODOS</button>
      <button (click)='putEmployeeInAnswer($event.target.value)' value={{employee.id}}>ATENDER</button>
  </li>
</ul>



<!-- <div *ngIf="selectedEmployee">

	<p>
	  {{selectedEmployee.id }} - 
	  {{selectedEmployee.name | uppercase }}
	</p>


	<div>
	  <label>Nome com bind:
	    <input [(ngModel)]="selectedEmployee.name" placeholder="nome">
	  </label>
	</div>

</div>
 -->
