<!-- <div *ngIf="selectedEmployee">

	<p>
	  {{selectedEmployee.id }} - 
	  {{selectedEmployee.name | uppercase }}
	</p>


	<div>
	  <label>Nome com bind:
	    <input [(ngModel)]="selectedEmployee.name" placeholder="nome">
	  </label>
	</div>

</div>
 -->



<h2>Funcionários</h2>
<input [(ngModel)]="searchText" placeholder="search text goes here">
<ul>
  <li *ngFor="let employee of employees | filter : searchText" (click)="onSelect(employee)">
    {{employee.name}}
  </li>
</ul>


<div *ngIf="selectedEmployee">
 
  <h2>{{selectedEmployee.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedEmployee.id}}</div>
  <div>
    <span>name: {{selectedEmployee.name}}</span>
  </div>
 
</div>
