<div *ngIf="employee">
 
  <h2>{{employee.name | uppercase}} Details</h2>

	<img src="{{employee.avatar }}" alt="">


  <div><span>id: </span>{{employee.id}}</div>
  <div>
    <span>name: {{employee.name}}</span>
  </div>
  <div>
    <span>email: {{employee.email}}</span>
  </div>
  <div>
    <span>phone: {{employee.phone}}</span>
  </div>
  <div>
    <span>cidade: {{employee.city}}</span>
  </div>      
  <div>
    <span>estado: {{employee.state}}</span>
  </div>        

   <button (click)="goBack()">go back</button>
</div>
