<div *ngIf="employee" class="employee">
 
  <h2>{{employee.name | uppercase}} Details</h2>

	<img src="{{employee.avatar }}" alt="">

  <div><span><b>id: </b> </span>{{employee.id}}</div>

  <div>
    <span><b>name:</b> {{employee.name}}</span>
  </div>

  <div>
    <span><b>email:</b> {{employee.email}}</span>
  </div>

  <div>
    <span><b>phone:</b> {{employee.phone}}</span>
  </div>

  <div>
    <span><b>cidade:</b> {{employee.city}}</span>
  </div>      

  <div>
    <span><b>estado:</b> {{employee.state}}</span>
  </div>        
   <button (click)="goBack()">Voltar</button>
</div>
