$azul: #2c3e50;
$verde: #b3c02b;
$cinza: #f9f9f9;
$cinza-escuro: #909090;


	button {
			margin: 0 5px;
			position: relative;
			top: 0px;
			margin-top: 20px;
			margin-bottom: 20px;
			background: $cinza;
			border-radius: 5px;
			display: inline-block;
			padding: 10px 15px;
		}

		img {margin-bottom: 20px;}